<div class="text-center">
  <h1>Log in</h1>
</div>

<div class="row">  <%# rowの中にカラムが12個ある。container→row→カラム %>
  <div class="col-sm-6 offset-sm-3"> <%# 12カラム。col-sm-〇⇒〇カラム。offset-sm－〇⇒空白〇カラム %>
                                     <%# sm⇒576~767=タブレットサイズ) %>
                                     <%# ブレークポイント⇒576px,768px,992px,1200px)  %>
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      <%#= render 'layouts/error_messages', model: f.object %>

      <div class="form-group font-weight-bold">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, class: 'form-control', placeholder: "ex.taro@gmail.com" %>
      </div>

      <div class="form-group font-weight-bold">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, class: 'form-control', placeholder: "ex.0938taro" %>
      </div>

      <%= f.submit 'Log in', class: 'btn btn-primary ' %> <%# btn btn-〇〇⇒色選択。プライマリーは青。　 %>
      <%= f.submit '簡単ログイン', class: 'btn btn-success ' %> <%# btn btn-〇〇⇒色選択。プライマリーは青。　 %>
    <% end %> <%# btn-block⇒画面いっぱい広がる。btn-lg、sm、ex、あと何も書かずにデフォルトの４サイズがある　 %>


    <p><%= link_to '新規登録はこちら', admin_signup_path %></p> <%# rootingの"名前"がsignupとなっているため %>
    <p><%= link_to 'パスワードを忘れた方はこちら', admin_signup_path %></p> <%# rootingの"名前"がsignupとなっているため %>
  </div>
</div>