<h1 class="display-3 text-primary">Request</h1>

<h3><%= @msg %></h3>



<table class="table table-striped table-bordered text-center "> <%# table class="table" 基本のテーブルが作成される＋α %>

  <tr class="table-primary ">
    <th>　</th><th>No.</th><th>File No.</th><th>File Name</th><th>保管期限</th><th>保管場所</th><th>起案者</th><th>起案日</th><th>コメント</th>
  </tr>

  <% @requests.each do |obj| %> <%# 一括データ取り出し %>
  <tr>
    <td><%= obj.id %></td>
    <td><%= obj.id %></td>
    <td class="text-left"><%= obj.file_no %></td>
    <td class="text-left"><%= obj.file_name %></td>
    <td><%= obj.expired_at %></td>
    <td><%= obj.placed_at %></td>
    <td><%= obj.user_id %></td>
    <td><%= obj.created_at.to_s(:datetime_jp) %></td> <%# to_sとは配列を文字列に変換するメソッドで、配列の各要素を文字列に変換して連結した文字列を返します。%>
    <td><%= obj.comment %></td>
  </tr>
  
  <% end %>
</table>

  <%= form_with(model: @cabinet, local: true) do |f| %> <%# form_with はデフォルトでcabinets_pathを認識、cabinet controllerのnew createに飛ぶことが決定 %>
    <%= f.submit '承認', class: 'btn btn-primary ' %>  <%# f.submit⇒対応するモデルクラスが何も情報を持っていなければ自動的にcreateアクションへ、すでに情報を持っている場合はupdateアクションへ自動的に振り分けてくれる %>
  <%# btn-blockは横幅いっぱい%>
  <% end %>
  
<%= paginate @requests %> <%# ページネイトができるようになる %>